

body {
    background: rgb(192, 174, 211);
    text-align: center;
}

p {
    font-family: 'Source Code Pro', monospace;
    color: #000000;
    font-size: 1.3rem;
    font-weight: bold;
}

.linkedin {
    color: rgb(0, 0, 0);
    padding: 0.5rem;
    border-radius: 1rem;    
    font-size: 2.5rem;
}

.twitter {   
    color: rgb(0, 0, 0);
    padding: 0.5rem;
    border-radius: 1rem;
    font-size: 2.5rem;
}

.github {
    color: rgb(0, 0, 0);
    padding: 0.5rem;
    border-radius: 1rem;
    font-size: 2.5rem;
    margin: 0.5rem;
}

.text-content {
    margin-top: 1rem;
    background: rgb(175, 142, 209);
    border-radius: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    line-height: 0.9;
    display: inline-block;
    width:300px;
    text-align: left;
}

@media (max-width: 40rem) {
    .text-content {
        width: 300px;
    }
  }

.links {
    margin-top: 1rem;
}

.description {
    color: #000000;
    font-size: 1.2rem;
}

.profile {
    margin-top: 5rem;
}